.logo {
  height:300px;
  width: 400px;
  margin:5px;
}
.nav-bar {
  height: 200px;
  width: auto;
  display:flex;
  align-items: center;
  background-color: #F8F67E;
  color: #d3f0fb;
  font-size:30px;
}
.nav-item {
  padding-left: 100px;
}
p {
  align-items: center;
  font-size:18px;
  padding-left: 100px;
  
}