<div class="departments">
  <button (click)="applyFilter('CH')">FF</button>
  <button (click)="applyFilter('PO')">Active</button>
  <button (click)="applyFilter('SP')">World</button>
  <button (click)="applyFilter('GEN')">Go</button>
  <button (click)="applyFilter('')">All</button>
</div>
<div>
  <table>
    <thead>
      
      <th>Club Name</th>
      <th>Address</th>
      <th>Days</th>
      <th>Opentime</th>
      <th class="center">Courts</th>
      <th class="center">Reservation</th>
    </thead>
    <tbody>
      <tr *ngFor="let class of visibleClasses">
        
        <td><a [routerLink]="['/catalog/' + class.club.clubName]">{{class.club.address}}</a></td>
        <td>{{class.Addr}}</td>
        <td>{{class.days}}</td>
        <td>{{class.time}}</td>
        <td class="center">{{class.club.courts}}</td>
        <td class="enroll center">
          <button class="sign-in" *ngIf="!dataRepository.currentUser" disabled>Sign In for booking</button>
          <button *ngIf="dataRepository.currentUser && !class.enrolled && !class.processing" (click)="enroll(class)">UnReserved</button>
          <button *ngIf="dataRepository.currentUser && class.enrolled && !class.processing" (click)="drop(class)">Reserved</button>
          <loading-spinner [loading]="class.processing"></loading-spinner>
        </td>
      </tr>
    </tbody>
  </table>
</div>
